.container {
    width: 100%;
    margin: auto;
    margin-top: 20px;

}

.category {
    border-top: 3px solid black;
    border-bottom: 1px solid #dadada;
    min-height: 450px;
}

.categoryTag {
    display: flex;
    min-height: 90px;
}

.smallCategoryTag {
    display: flex;
    min-height: 240px;
}

.priceRankTag {
    display: flex;
    min-height: 70px;
}

.priceRank {
    line-height: 35px;
    width: 140px;
    border-right: 1px solid black;
}

.categoryList {
    padding: 10px;
    line-height: 30px;
    width: 140px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.categoryFilter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
}


.smallCategory {
    line-height: 60px;
    min-height: 200px;
    width: 10%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.sort {
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;

}

.sortFilter {
    padding: 10px;
}