.container {
    width: 100%;
    margin: auto;
    margin-top: 20px;

}

.category {
    border-top: 3px solid black;
}

.categoryTag {
    display: flex;
    min-height: 55px;
}

.smallCategoryTag {
    display: flex;
    min-height: 150px;
}

.priceRankTag {
    display: flex;
    min-height: 70px;
}

.priceRank {
    line-height: 35px;
    width: 140px;
    border-right: 1px solid black;
}

.categoryList {
    padding: 0px 0 10px 15px;
    line-height: 50px;
    width: 170px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 19px;
}

.categoryFilter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
}

.categoryFilter span {
    font-size: 17px;
    padding: 5px 20px 0 5px;
    color: #666;

    cursor: pointer;
}

.categoryFilter span:hover {
    color: black;
    text-decoration: underline;
}


.sort {
    width: 100%;
    display: flex;
    color: #666;
    margin: 20px 0 20px 10px;
    cursor: pointer;
}

.sort span::after {
    content: "|";
    margin: 0 10px 0 10px;
}

.sort span:last-child:after {
    content: "";
}