.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1280px;
    overflow: hidden;

}

.header {
    position: relative;
    top: 0;
}

.main {
    height: auto;
    min-height: 100%;
    display: inline;
}


.footer {
    position: relative;
    bottom: 0;
    /* z-index: -1; */


}