.container {
    width: 100%;
    margin: auto;
}

.purchaseList {
    display: flex;
}

.turmb {
    width: 610px;
    margin: 25px;
}

.itemImage {
    width: 100%;
}

.purchasePart {
    width: 625px;
    padding-left: 20px;
    border-left: 1px solid rgb(156, 156, 156);
}

.itemName {
    margin: 10px;
    margin-top: 20px;
    font-size: 24px;
    word-break: keep-all;
    word-wrap: break-word;
    vertical-align: top;
    height: 100px;
    font-weight: 700;
}

.price {
    margin: 10px;
    padding: auto;
    font-size: 40px;
    text-align: end;
    font-weight: 500;
}

.delivery {
    margin: 10px;
    display: flex;

    margin-bottom: 5px;
}

.icon {
    margin: auto;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(156, 156, 156);
}

.p {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
}

.express {
    margin: 10px;
    margin-bottom: 30px;
}

.countList {
    margin: 10px;
    padding: 10px;
}

.countName {
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
}

.total {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.countBut {
    margin-right: auto;
    display: inline-flex;
    text-align: center;

}

.countBut button {
    background-color: white;
    cursor: pointer;
}

.countBut button:first-child:before {
    content: "-";
}

.countBut button:last-child:before {
    content: "+";
}

.count {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    padding-top: 4px;
}

.totalPrice {
    margin: 10px;
    margin-bottom: 30px;
}

.totalPrice2 {
    display: flex;
    justify-content: flex-end;
}

.before2 {
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #d7d7d7;
    content: '';
    margin-left: 10px;
    margin-right: 20px;
}

.btn_group {
    display: flex;
    background-color: white;
}

.btn_group button {
    background-color: white;
    min-width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.likebox {
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url("../public/icon/premium-icon-heart-2589197.png");
}

.itembox {
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url("../public/icon/free-icon-shopping-cart-empty-side-view-34568.png");
}

.purchaseButton {
    width: 440px;
}


.itemInfo {
    width: 100%;
    height: 2250px;
    margin: auto;
    display: flex;
}

.itemTag {
    margin: 10px;
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.tagLayout {
    display: flex;
    text-align: center;
    background-color: #f3f5f7;
    font-weight: 600;
    color: #333;
    list-style: none;
    height: 100%;
}

.tagList {
    margin: 0 auto;
}

.tagInfo {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    border-top: 2px solid black;

}

.li {

    width: 100%;
    background-color: white;
    cursor: pointer;
}

.li strong {

    line-height: 55px;
}

.before {
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #d7d7d7;
    vertical-align: top;
    content: '';
    margin-top: 4px;
}