.container {
    width: 100%;
}

.purchaseList {
    padding-left: 70px;
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.turmb {
    width: 550px;
    margin: 25px;
}

.itemImage {
    width: 100%;
}

.purchasePart {
    width: 600px;
    padding: 35px 60px 0 40px;

}

.itemName {
    margin: 0 0 60px 0;
    font-size: 28px;
    word-break: keep-all;
    word-wrap: break-word;
    vertical-align: top;
    font-weight: 700;
    /* border-bottom: 1px solid #d1d1d1;
    padding-bottom: 15px; */
}

.price {
    color: #222;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 36px;

}

.delivery {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(156, 156, 156);
    background-color: white;
    /* border-radius: 10px; */
    padding: 15px 0 10px 15px;
    font-size: 14px;
}

.delivery p {
    margin: 0 0 5px 0;

}



.icon {
    margin: auto;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(156, 156, 156);
}



.express {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 20px; */

}

.express span {
    text-align: end;
    margin-left: 30px;

}

.countList {
    padding: 10px;
}

.countName {
    /* margin: 5px; */
    font-size: 20px;
    font-weight: 500;
}



.countBut {
    margin-right: auto;
    display: inline-flex;
    text-align: center;
    margin-top: 10px;
}

.countBut button {
    background-color: white;
    cursor: pointer;
    border: 1px solid #dadada;
}

.countBut button:first-child:before {
    content: "-";
}

.countBut button:last-child:before {
    content: "+";
}

.count {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    padding-top: 4px;
}


.totalPrice {
    margin-top: 60px;
    margin-bottom: 35px;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.orderPrice {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;

}

.orderPrice span {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(52, 106, 255);

}

/* .before2 {
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #d7d7d7;
    content: '';
    margin-left: 10px;
    margin-right: 20px;
} */

.btn_group {
    width: 500px;
    display: flex;

}

.btn_group button {
    min-width: 50px;
    height: 50px;
    cursor: pointer;

}

.likebox {
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url("../public/icon/premium-icon-heart-2589197.png");
    background-position: center center;
    border: 1px solid black;
    margin-right: -1px;
    background-color: white;
}

.itembox {
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url("../public/icon/free-icon-shopping-cart-empty-side-view-34568.png");
    background-position: center center;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;

}

.purchaseButton {
    width: 100%;
    margin-right: -1px;
    border: none;
    /* border: 1px solid black; */
    background-color: rgb(52, 106, 255);
    ;
    color: white;
    font-size: 18px;
    font-weight: 700;

}


.itemTag {
    width: 100%;
    min-height: 2000px;
    font-size: 18px;
}


.tagList {
    margin: 0 auto;
}

.tagInfo {
    height: auto;
}

.tagLayout {
    display: flex;
    text-align: center;
    background-color: #f3f5f7;
    font-weight: 600;
    color: #222;
    list-style: none;
    margin-left: 2px;
}

.tagLayout ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: table;
    z-index: 2;
    list-style: none;


}

.tagLayout li {
    position: relative;
    display: table-cell;

}

.tag {
    vertical-align: top;
    min-width: 320px;
    height: 60px;
    margin-left: -1px;
    background-color: white;
    border: 1px solid #d1d1d1;
    color: #222;
    cursor: pointer;
}

.tagLayout li span {
    display: inline;
    font-weight: 500;
    line-height: 60px;
}

/* .before {
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #d7d7d7;
    vertical-align: top;
    content: '';
    margin-top: 4px;
} */